<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style type="text/css">
      nav {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <header>
    <h1>{{ title }}</h1>

    <nav>
    <!-- semantic version instead? -->
    <ul>
      {{#navigation}}
      <li> <a href="{{ url }}"> {{ name }} </a> </li>
      {{/navigation}}
    </ul>
    </nav>
    </header>

    <ul>
      {{#thumbnail_urls}}
      <li> <img src="{{ url }}" /> </li>
      {{/thumbnail_urls}}
    </ul>
  </body>
</html>
